<footer>
    <a href="contact.html" class="footer-link">Contact</a>
    <a href="https://twitter.com/fromsoftware_pr" class="footer-link">Le studio</a>
    <a href="https://twitter.com/Loutredu_Bengal" class="footer-link">Le dev</a>
</footer>
    
</body>
</html>
    