<!DOCTYPE html>

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
    <title>Dark Souls des sites internet</title>
</head>

<body>
    <main>
        <header>
            <h1 class="header-title">Vous are dead</h1>
            
            <div class="nav">
                <ul class="nav-list">
                    <li class="nav-list-buttons">
                        <a href="#" class="nav-list-link">Demon's Souls</a></li>
                    <li class="nav-list-buttons">
                        <a href="#" class="nav-list-link">Dark Souls</a></li>
                    <li class="nav-list-buttons">
                        <a href="#" class="nav-list-link">Sekiro</a></li>
                    <li class="nav-list-buttons">
                        <a href="#" class="nav-list-link">Bloodborne</a></li>
                    <li class="nav-list-buttons">
                        <a href="#" class="nav-list-link">Elden Ring</a></li>
                </ul>
            </div>
        </header>

